{% extends 'base.html.twig' %}

{% block body %}
    Commandez vos pizzas
    <div>
        {% for pizza in pizzas %}
            <p>
                <span>{{ pizza.id }}</span>
                <span style="font-size: 2em; font-weight: bold">{{ pizza.name }}</span>
                <span style="font-style: italic">{{ pizza.price }} €</span>
                <a href="{{ path('order', {'pizzaId': pizza.id}) }}">Commander</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
