{% extends 'base.html.twig' %}

{% block body %}
    Retrouvez ici nos dernières informations
    <div>
        {% for message in messages %}
            <p>{{ message.content }}</p>
        {% endfor %}
    </div>
{% endblock %}
